.form-group, .checkbox {margin-bottom: @input-margin;}
.form-control {
	.border-radius(25px);	
  padding: @input-padding;
  height: 45px;
  .font-size(15);
}

.select-label {.make-xs-column(2);}
.select-box {
  .make-xs-column(10);
   width: 100px !important;
   overflow: hidden;
   position: relative;   
   select {
       background: transparent;
       width: 200px;
       padding: 0;       
       line-height: 1;
       border: 0;
       -webkit-appearance: none;
       margin-left: 20px;
       font-weight: bold;
       cursor: pointer;
     }
    i {
      .font-size(10);
      position: absolute;
      top: 5px;
    }  
   }
.filter {
  .select-box {
  .make-xs-column(10);
    width: 180px !important;
   select {
       width: 200px;      
     }
   }

  }
.checkbox {
  input { left: -9999px; position: absolute;}
  i {margin-right: 15px; .font-size(18);}
  i:before {.switch-off-i;}
  label{
    padding-left: 0;
  &.active  { 
    i:before {.switch-on-i;} 
  }   
  }   
}
textarea {width: 100%; margin-bottom: @input-margin;}


.csc-mailform form {

  ol {
    list-style: none; 
    padding-left: 0;
    li {
      margin-bottom: 25px;
    }
  }
  label {
    width: auto;
    strong, strong {
      color: @brand-red;
      display: block;
      .font-size(14);
      font-weight: normal;
      text-transform: none;
    }
  }
  .csc-form-element-select {
     width: 250px !important;
   overflow: hidden;
   position: relative;  
   label {
    &:after {.arrow-down-i; .font-size(12); margin-left: 40px;} 
   }
    select {
       background: transparent;
       width: 200px;
       padding: 0 0 0 25px;       
       line-height: 1;
       border: 0;
       -webkit-appearance: none;
       margin-left: -20px;
       font-weight: bold;
       cursor: pointer;
       position: absolute;

     }
   }
  fieldset {
    .row;
    padding-left: 0;
      ol li {
      .make-ms-column(6);
      margin-bottom: 0;
    }
  } 
}
@media (max-width: @screen-xs-max){
  .csc-mailform form fieldset ol li:first-child {  margin-bottom: 25px;    }
}