.navbar-toggle .iconbar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 25px;
  background-color: @black;
  margin-bottom: 3px;
}

@media (max-width: @screen-sm-max){
   .header-mainnav  .navbar-collapse {
    background-color: @white;
    ul > li a {     
      color: @black;
    }
  }

}