/* Browser Resets from flexslider
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


.slides img.stacked{
    display:none;
}
img.out{
    transform: translate(0,-20px) rotate(15deg) !important;
    transition: transform 0.3s;
    transition-timing-function: ease-in-out;
}
.stackslider img.in{
    transition: transform 0.1s;
    transition-timing-function: ease-in-out;
}
.stackslider .imgstack{
	position: relative;
	margin:0;
}
.stackslider .flexslider{
    position:relative;
    overflow: hidden;
    padding-bottom: 20px;
}
.stackslider .slides{  
    padding:0;
    overflow: hidden;
} 
.stackslider .imgstack img { 
	position: absolute;
	border: 5px solid #f3f3f3;
	box-shadow: 1px 1px 2px #444;
	display:block;
    width:100%;
    height:auto;
}


/*                        - - - - - - - -  slider02*/
.slider02 .imgstack{
	margin:1em 40px 1em 30px;
}
.slider02 .flexslider{
    padding-bottom: 40px;
}
.slider02 .slides{  
    margin:75px 0 0 0;
} 
.slider02 .slides h2{
    margin-top:5px;
    font-size: 2.2em;
}
.slider02 .flex-control-nav {
    position:absolute;
    padding:0 0 5px;
    left:10px;
    top:30px;
    list-style-type: none;
    width: 95%;
    border-bottom: 1px solid @white;
}
.slider02 .flex-control-nav li{
    float:left;
}
.slider02 .flex-control-nav a{
    display:none;
    font-size:1.8em;
    color:@white;
}
.slider02 .flex-control-nav a:hover{
    text-decoration: none;
}
.slider02 .flex-control-nav a.flex-active{
    display:block;
}
.slider02 .flex-control-paging:after{
    content:' | 4';
    font-size:1.8em;
    margin-left:0.2em;
}

.slider02 .flex-direction-nav {
    position:absolute;
    right:0;
    top:32px;
    list-style-type: none;
}
.slider02 .flex-direction-nav li{
    float:left;
    height:28px;
    width: 30px;
    overflow:hidden;
    text-align:center;
}
.slider02 .flex-direction-nav a{
    color:@white;
    text-decoration: none !important;
}
.slider02 .flex-direction-nav a:hover{
    text-decoration: none;
    color:@brand-red;
}
.flex-direction-nav a:before  { 
    font-family: "IGM_NRW"; 
        font-size: 28px; 
        line-height:1; 
        display: block; 
        content: '\e600'; 
}
.flex-direction-nav a.flex-next:before  { 
    content: '\e601'; 
}
.slider02 .imgstack img { 
	top: 40px;
	left: 0;
}
.slider02 .slides a{
    display:block;
    width:auto;
    float:left;
    padding:5px 15px;
    margin-top:15px;
    border:1px solid @white;
    color:@white;
    text-transform: uppercase;
}
.slider02 .slides a:hover{
    color:#3ba2c3;
    background-color:@white;
}



/*                        - - - - - - - -  slider03*/
.slider03{
    padding-bottom:40px;
}

.slider03:before, .slider04 .flexslider:before{
    font-family: "IGM_NRW"; 
    content:"\e60c";
    color:@brand-red;
    position:absolute;
    font-size: 26px;
    left: 0;
    top: 0;
    line-height: 0.8em;
}

.slider03  .imgstack{
    width:140px;
    position:absolute;
    left:0;
    bottom:140px;
}
.slider03  .flexslider{
    padding: 0 0 60px 60px;
    position:relative;
}
.slider03 blockquote{
    font-size:1.8em;
}
.slider03 blockquote:before,
.slider03 blockquote:after{
    display:none;
}
.slider03 blockquote footer{
    margin-left:100px;
    color:#3c3c3c;
    font-size:0.6em;
    font-style: normal;
}
.slider03 blockquote footer:before{
    content:"";
}

.slider03 .flex-direction-nav{
    display:none;
}
.slider03 .flex-control-paging{
    position:absolute;
    overflow:hidden;
    left:330px;
    bottom:100px;
}
.slider03 .flex-control-paging li{
    float:left;
    margin-right:8px;
}
.slider03 .flex-control-paging a{
    text-indent:-999px;
    display:block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border:1px solid #999;
    background: @white;
    cursor:pointer;
}
.slider03 .flex-control-paging a.flex-active{
    background: #999;
}




/*                        - - - - - - - -  slider04*/
.slider04{
    padding-bottom:40px;
}
.slider04 h1{
    margin:0 0 40px;
}
.slider04  .imgstack{
    width:90%;
}
.slider04  .flexslider{
    padding: 0 0 60px 60px;
    position:relative;
    &:before {top:15px;}
}

.slider04 blockquote{
    font-size:1.8em;
}
.slider04 blockquote:before,
.slider04 blockquote:after{
    display:none;
}
.slider04 blockquote footer{
    color:#3c3c3c;
    font-size:0.6em;
    font-style: normal;
}
.slider04 blockquote footer:before{
    content:"";
}

.slider04 .flex-direction-nav{
    display:none;
}
.slider04 .flex-control-paging{
    position:absolute;
    overflow:hidden;
    left:330px;
    bottom:100px;
}
.slider04 .flex-control-paging li{
    float:left;
    margin-right:8px;
}
.slider04 .flex-control-paging a{
    text-indent:-999px;
    display:block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border:1px solid #999;
    background: @white;
    cursor:pointer;
}
.slider04 .flex-control-paging a.flex-active{
    background: #999;
}

/*- - - - - - - -  slider06*/
.slider06 {    
    .make-sm-column(6);
    position:relative;
    h3{
        margin: 45px 0 0 0;
        border-bottom:1px solid @gray;
        padding-bottom: 10px;
        font-weight: normal;
    }
    p {.font-size(18);}
    .flex-control-paging{
        display:none;
    }

    .flex-direction-nav {
        position:absolute;
        right:0;
        top:50px;
        list-style-type: none;
        li{
            float:left;
            height:25px;
            width: 30px;
            overflow:hidden;
            text-align:center;
            a{
                color:#3c3c3c;
                text-decoration: none !important;
                &:hover{
                    text-decoration: none;
                    color:@brand-red;
                }
                &:before, a:after {.font-size(24);}
            }
        }
    }     
   
    h2{
        margin:30px 0;
    }
}
.special-img {
    .make-sm-column(6);
    img {
        position: absolute;
        margin-top: 72px;
        
        }
}
/* Media Queries
***********************/
@media (max-width: 380px){
    .stackslider .imgstack{  height: 250px; }  
}
@media (min-width: 380px){
    .stackslider .imgstack{ height: 400px;  }  
}
@media (min-width: 500px){
    .stackslider .imgstack{ height: 700px;  }  
}
@media (min-width: @screen-sm){
    .stackslider .imgstack{ height: auto;  }  
  .slider02 .imgstack {
      margin-left: 0;
    }  
}
@media (min-width: @screen-md){
  .slider02 .imgstack {
      margin-left: 40px;
    }  
}
