body {.font-size(14);}
strong {foont-weight: 500;}
.lg {.font-size(22);}
p {margin-bottom: 25px;}
h1{ .font-size(40);}
h2{  .font-size(32);}
h3{  .font-size(24);}
h4{ .font-size(18); color: @black;}
h5{  .font-size(16);}

.text-columns {	
  .column-count(2);
  p {.hypens-txt;}   
}